@model List<My_Project.Models.Message>


<h1 class="mb-4 text-center text-black">Message</h1>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Subject</th>
            <th>Message</th>
        </tr>
    </thead>
    <tbody>
        @foreach (My_Project.Models.Message item in Model)
        {
        <tr>
            <td>@item.Name</td>
            <td>@item.Email</td>
            <td>@item.Subject</td>
            <td>@item.MessageSide</td>
            <td>@item.Date</td>
            <td>
                <a href="/admin/message/delete/@item.Id" class="btn btn-danger">
                    <i class="fas fa-trash"></i>
                </a>
            </td>
        </tr>
        }
    </tbody>
</table> 