@model My_Project.Models.Footer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Footer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AboutText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AboutText)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
