@model My_Project.Models.Blog

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Blog</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Text)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Text)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CommentCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CommentCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BlogTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BlogTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BlogText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BlogText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BlogTitle2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BlogTitle2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BlogText2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BlogText2)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
